body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * until https://github.com/facebook/create-react-app/issues/11771
 * gets fixed we need to add this to enable hot reloading during
 * development
 */
body > iframe[style*="2147483647"]:not([id="webpack-dev-server-client-overlay"]) {
	display: none;
}

/* Modify Bootstrap theme */
.bg-dark {
	background-color: #2a2a2a !important;
	color: #fff;
}

.navbar-light {
	background-color: #fff !important;
	box-shadow: rgba(53, 64, 82, 0.05) 0px 0px 14px 0px;
}

/* Make react-toasts appear on top of Bootstrap modal overlay */
.react-toast-notifications__container {
	z-index: 9999 !important;
}
